.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  /* max-width: 250px; */
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.04);
}

.btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  background-color: transparent;
}

.title {
  padding: 0.7em;
  overflow: hidden;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image {
  flex: 1;
}
